.img-logo {
  bottom: 88.22%;
  left: 48.55%;
  position: absolute;
  right: 48.58%;
  top: 45.59px;
}

.header-text {
  font-size: 48px;
  font-weight: 600;
  height: 56px;
  left: 682px;
  line-height: 56px;
  position: absolute;
  top: 130px;
  width: 640px;
}
